<mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
<mat-grid-list cols="2">
    <mat-grid-tile>
        <mat-card>
            DOKU - Dokument List Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, aut voluptates ab quisquam, hic modi quia a unde expedita tenetur laborum nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, aut voluptates ab quisquam, hic modi quia a unde expedita tenetur laborum nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit.DOKU - Dokument List Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, aut voluptates ab quisquam, hic modi quia a unde expedita tenetur laborum nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, aut voluptates ab quisquam, hic modi quia a unde expedita tenetur laborum nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>Test </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>Test </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>Test </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<div class="grid-container">
    <h1 class="mat-h1">Apps</h1>
    <mat-grid-list cols="4">
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-subtitle>DOKU - Dokument List</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, aut voluptates ab quisquam, hic modi quia a unde expedita tenetur laborum nisi.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, aut voluptates ab quisquam, hic modi quia a unde expedita tenetur laborum nisi. 
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, aut voluptates ab quisquam, hic modi quia a unde expedita tenetur laborum nisi. 
                    </p>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-card-content>
                <mat-card-actions style="margin:0;">
                    <button mat-raised-button color="primary">VIEW</button>
                    <button mat-button >OPEN</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-subtitle>NEWS - News List</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, aut voluptates ab quisquam, hic modi quia a unde expedita tenetur laborum nisi.
                    </p>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-card-content>
                <mat-card-actions style="margin:0;">
                    <button mat-raised-button color="primary">VIEW</button>
                    <button mat-button>OPEN</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-subtitle>Press - Press List</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, aut voluptates ab quisquam, hic modi quia a unde expedita tenetur laborum nisi.
                    </p>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </mat-card-content>
                <mat-card-actions style="margin:0;">
                    <button mat-raised-button color="primary">VIEW</button>
                    <button mat-button>OPEN</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>

                    <mat-card-subtitle>JIRA - Jira Issues List</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, aut voluptates ab quisquam, hic modi quia a unde expedita tenetur laborum nisi.
                    </p>
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>

                </mat-card-content>
                <mat-card-actions style="margin:0;">
                    <button mat-raised-button color="primary">VIEW</button>
                    <button mat-button>OPEN</button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>