.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}



/* custom */


.datatable-container {
  font-family: sans-serif;
  background-color: #303030;
  border-radius: 3px;
  color: white;
  max-width: 1140px;
  font-size: 12px;
  padding: 10px;
}

.datatable-container .footer-tools .pages ul li {
  display: inline-block;
  margin: 0 2px;
}

.datatable-container .datatable {
  border-collapse: collapse;
  width: 100%;
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td {
  padding: 10px 10px;
}

.datatable-container .datatable th {
  font-weight: bolder;
  text-align: left;
  border-bottom: solid 1px white;
}



.datatable-container .datatable tbody tr:nth-child(even) {
  background-color: #555555;
}

.datatable-container .datatable tbody tr:hover {
  background-color: gray;
}


