table{
  width: 100%;
}

.datatable-container {
  font-family: sans-serif;
  background-color: #303030;
  border-radius: 3px;
  color: white;
  max-width: 1140px;
  font-size: 12px;
  padding: 10px;
}

.datatable-container .footer-tools .pages ul li {
  display: inline-block;
  margin: 0 2px;
}

.datatable-container .datatable {
  border-collapse: collapse;
  width: 100%;
}

.datatable-container .datatable,
.datatable-container .datatable th,
.datatable-container .datatable td {
  padding: 10px 10px;
}

.datatable-container .datatable th {
  font-weight: bolder;
  text-align: left;
  border-bottom: solid 1px white;
}



.datatable-container .datatable tbody tr:nth-child(even) {
  background-color: #555555;
}

.datatable-container .datatable tbody tr:hover {
  background-color: gray;
}


