<mat-sidenav-container class="example-container" fullscreen [ngClass]="className">
  <mat-sidenav class="primary-background" mode="side" opened [class.menu-open]="sideNavOpen"
    [class.menu-close]="!sideNavOpen">
    <mat-toolbar color="primary" class="toolbar-logo">
      <img class="logo" src="assets/image/logo.webp">
      <span [hidden]="!sideNavOpen"><span class="logo-name">Portal</span></span>
    </mat-toolbar>
    <mat-nav-list class="primary-background app-class" [class.menu-close-text]="sideNavOpen">
      <a routerLink="dashboard" disableRipple mat-list-item>
        <span routerLinkActive="active">
          <button mat-icon-button>
            <mat-icon color="primary" class="side-icon">home</mat-icon>
          </button> <span class="nav-title" [hidden]="!sideNavOpen">Home</span>
        </span>
      </a>
      <a routerLink="electronic" disableRipple mat-list-item>
        <span routerLinkActive="active">
          <button mat-icon-button>
            <mat-icon color="primary" class="side-icon">point_of_sale</mat-icon>
          </button> <span class="nav-title" [hidden]="!sideNavOpen"> Electronic</span>
        </span>
      </a>
      <a routerLink="b-tronic" disableRipple mat-list-item>
        <span routerLinkActive="active">
          <button mat-icon-button>
            <mat-icon color="primary" class="side-icon">account_balance</mat-icon>
          </button><span class="nav-title" [hidden]="!sideNavOpen"> B-Tronic</span>
        </span>
      </a>
      <a disableRipple routerLink="webbgm" mat-list-item>
        <span routerLinkActive="active">
          <button mat-icon-button>
            <mat-icon color="primary" class="side-icon">trending_up</mat-icon>
          </button><span class="nav-title" [hidden]="!sideNavOpen"> WebBGM</span>
        </span>
      </a>
      <a disableRipple routerLink="inventory" mat-list-item>
        <span routerLinkActive="active">
          <button mat-icon-button>
            <mat-icon color="primary" class="side-icon"> visibility</mat-icon>
          </button><span class="nav-title" [hidden]="!sideNavOpen"> Inventory</span>
        </span>
      </a>
      <a disableRipple routerLink="warehouse" mat-list-item>
        <span routerLinkActive="active">
          <button mat-icon-button>
            <mat-icon color="primary" class="side-icon"> precision_manufacturing</mat-icon>
          </button><span class="nav-title" [hidden]="!sideNavOpen"> Warehouse</span>
        </span>
      </a>
      <a disableRipple routerLink="project" mat-list-item>
        <span routerLinkActive="active">
          <button mat-icon-button>
            <mat-icon color="primary" class="side-icon"> today</mat-icon>
          </button><span class="nav-title" [hidden]="!sideNavOpen"> Project</span>
        </span>
      </a>
    </mat-nav-list>
    <button type="button" mat-icon-button [class.button-open]="sideNavOpen" [class.button-close]="!sideNavOpen"
      (click)="sideNavMenu()">
      <mat-icon class="side-icon" *ngIf="sideNavOpen">keyboard_double_arrow_left</mat-icon>
      <mat-icon class="side-icon" *ngIf="!sideNavOpen">keyboard_double_arrow_right</mat-icon>
    </button>
  </mat-sidenav>
  <mat-sidenav-content [ngStyle]="{'margin-left.px': mainContent}">
    <mat-toolbar class="toolbar">
      <span class="mainbreadcrumb"> Dashboard <mat-icon>arrow_forward_ios</mat-icon> <span class="user">Welcome,
          Nick</span></span>
      <span class="flex-expand"></span>
      <mat-icon class="top-nav-icon">search</mat-icon>
      <mat-icon class="top-nav-icon">widgets</mat-icon>
      <mat-icon class="top-nav-icon">notifications</mat-icon>

      <!-- <mat-slide-toggle color="primary" [formControl]="toggleControl">
      </mat-slide-toggle> -->
      <mat-icon class="top-nav-icon theme-icon" (click)="activateTheme()" [ngClass]="className">dark_mode</mat-icon>
    </mat-toolbar>
    <div class="maincontent" [ngClass]="className">
      <router-outlet></router-outlet>
    </div>
    <div class="footer">
      © Bauer 2022, All rights reserve
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>