/* mat-grid-tile{
    border-radius: 10px;
}

/* mat-card { */
    /* width: 100% !important;
    height: 100% !important; */
    /* text-align: center  !important; */
/* } */

/* .example-header-image { */
    /* background-image: url('assets/image/logo.wbp'); */
    /* background-size: cover;
}  */

mat-card-content{
    display: flex;
}

.card-flex{
    flex: 1 1 auto;
}

.dash-card-widget{
    display: block;
    position: absolute;
    bottom: 0;
}

.card-indicator{
    display: flex;
    margin-bottom: 0;
    color: red;
}

.mat-table{
    width: 100%;
}

#divChart{
    width: 700px;
    height: 400px;
}

#testChartContainer{
    width: 800px;
    height: 400px;
}